html {
    background: white;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    text-align: center;
}

h1{
    
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    height:192px;
    width:192px;
}

button{
    width: 150px;
    height: 40px;
    border-radius: 8px;
    border: solid 1px #ddd;
    box-shadow: #333 0px 2px 4px;
    cursor: pointer;
    text-shadow: 0px 1px 0px #3333331f;
}

button:active{
    box-shadow: inset #333 0px 2px 4px;
}